@font-face {
    font-family: "mapoAgape";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/mapoAgape/mapoAgape.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/mapoAgape/mapoAgape.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/mapoAgape/mapoAgape.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/mapoAgape/mapoAgape.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/mapoAgape/mapoAgape.ttf") format("truetype");
    font-display: swap;
}
.mapoAgape {
    font-family: "mapoAgape";
}